<div>
	<h1>Home</h1>
	{{#each products}}
		<div>
			<p>title: {{this.title}}</p>
	  		<p>description: {{this.description}}</p>
			<p>price: ${{this.price}}</p>
			<p>code: {{this.code}}</p>
			<p>id: {{this.id}}</p>
			<br>
		</div>
	{{/each}}
</div>